/* Global Styles */
body{
    background-color: rgb(157, 141, 141);

}
img {
    display: block;
    margin: 0 auto;
    width: 100%;
}
a{
    color:rgb(143, 58, 179);
}
a:hover {
    color: rgb(73, 17, 47);
    text-decoration: none;
}
#container {
    background-color: aqua;
    width: 75%;
    margin: 20px auto;
}
h1, h2, h3{
    text-align: center;
    color: rgb(110, 200, 110);
}

/* Desktop Styles */
nav{
    background-color: rgb(155, 134, 83);
    padding: 5px 0;
    text-align: right;

}
nav li{
    display: inline-block;
}
nav li a{
    color: aqua;
    margin-right: 20px;
    font-size: 20px;
    font-weight: bold;
}
header h1{
    
    font-size: 75px;
    color: rgb(70, 70, 155);
    text-shadow: 2px 2px 2px black;

}
main{
    padding: 20px;
}
main img {
 width: 50%;
}
#lower {
  display: flex;

}

.col {
    padding: 10px;
    margin: 10px;
    border: 2px solid color black;
    width: 33.33%;
    border-radius: 10px;
}

footer {
    padding: 40px 0;
    text-align: center;
}